name: CI

on:
  push:

defaults:
  run:
    shell: bash

jobs:
  test:
    name: test

    runs-on: ubuntu-22.04

    container:
      image: kaistplrg/crat-test:1.1.2

    steps:
      - name: Clone repository
        uses: actions/checkout@v4
      - name: Change owner
        run: chown -R ubuntu:ubuntu .

      - name: Check formatting
        run: sudo -u ubuntu bash -lc "cargo fmt --check"
      - name: Apply lints
        run: sudo -u ubuntu bash -lc "cargo clippy -- -D warnings"

      - name: Build dependency crate
        run: sudo -u ubuntu bash -lc "cd deps_crate && cargo build"

      - name: Build (Dev)
        run: sudo -u ubuntu bash -lc "cargo build"
      - name: Test (Dev)
        run: sudo -u ubuntu bash -lc "cargo test --workspace"
      - name: Clean (Dev)
        run: sudo -u ubuntu bash -lc "rm -rf target/debug"

      - name: Build (Release)
        run: sudo -u ubuntu bash -lc "cargo build --release"
      - name: Test (Release)
        run: sudo -u ubuntu bash -lc "cargo test --workspace --release"

      - name: Benchmark (Transform) - expand
        run: sudo -u ubuntu bash -lc "./tool.py transform expand"

      - name: Benchmark (Transform) - extern
        run: sudo -u ubuntu bash -lc "./tool.py transform extern"
      - name: Benchmark (Transform) - extern-post
        run: sudo -u ubuntu bash -lc "./tool.py transform extern-post"
      - name: Benchmark (Build) - extern-post
        run: sudo -u ubuntu bash -lc "./tool.py build extern-post"
      - name: Benchmark (Test) - extern-post
        run: sudo -u ubuntu bash -lc "./tool.py test extern-post --exclude tar-1.34"
      - name: Benchmark (Clean) - extern-post
        run: sudo -u ubuntu bash -lc "./tool.py clean extern-post -y"

      - name: Benchmark (Transform) - io
        run: sudo -u ubuntu bash -lc "./tool.py transform io --exclude axel,zmap"
      - name: Benchmark (Transform) - io-post
        run: sudo -u ubuntu bash -lc "./tool.py transform io-post --exclude axel,zmap"
      - name: Benchmark (Build) - io-post
        run: sudo -u ubuntu bash -lc "./tool.py build io-post --exclude axel,zmap"
      - name: Benchmark (Test) - io-post
        run: sudo -u ubuntu bash -lc "./tool.py test io-post --exclude axel,zmap,snoopy,streem,tar-1.34,the_silver_searcher,tulipindicators"
      - name: Benchmark (Clean) - io-post
        run: sudo -u ubuntu bash -lc "./tool.py clean io-post -y"
